.Weather {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: #3e4e22;
  border: 5px solid #b8860b;
  border-radius: 20px;
  color: white;
  padding: 1rem;
}

.Weather h1 {
  font-size: 35px;
  color: #deb887;
  margin: 10px 0;
  text-transform: capitalize;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather .form-control {
  margin-bottom: 10px;
  border: none;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  font-size: 18px;
  line-height: 1.5;
}

.Weather img {
  top: -15px;
  line-height: 1;
}

.Weather .main-weather-icon {
  width: 100px;
  height: 100px;
}

.Weather .main-weather {
  display: flex;

  line-height: 1.5;
  font-size: 60px;
  font-weight: bold;
}

.Weather .main-unit {
  font-size: 18px;
  margin-left: 5px;
  line-height: 3;
}

.Weather .unit {
  position: relative;
  top: -20px;
  line-height: 1;
}

.Weather .btn {
  background: #b8860b;
  border-color: #deb887;
  transition: all 150ms ease-in-out;
}

.Weather .btn:hover {
  background: #deb887;
  color: black;
  border-color: #b8860b;
}

.Weather .WeatherForecast-temperatures {
  margin-bottom: 15px;
}

.Weather .WeatherInfo {
  padding-left: 10px;
}
